<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Anonymous Users (Not Logged In) -->
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">Next Level</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link navbar-right" th:href="@{/users/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-right" th:href="@{/users/register}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>

    <!-- Authenticated Users (Logged In) -->
    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" th:href="@{/home}">Next Level</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/home}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item-active">
                            <a class="nav-link" th:href="@{/import/xml}">Import XML</a>
                        </li>
                        <li class="nav-item-active">
                            <!-- Logout Form with CSRF Token -->
                            <form th:method="post" th:action="@{/logout}">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                <button type="submit" class="btn btn-link nav-link">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>
</th:block>
